<div class="py-5 px-5">
    <div class="row px-5">
        <div class="col-4 pe-5">
            <h2 class="pb-5">Applied</h2>
            <div class="pe-5">
                <mat-card>
                    <mat-card-header><p><b>Candidate 1</b></p></mat-card-header>
                    <mat-card-content>
                        <div class="d-flex pb-1 align-items-center">
                            <img src="https://via.placeholder.com/18x18" alt="">
                            <p class="ps-2 mb-0">10 minutes ago</p>
                        </div>
                        <div class="d-flex pb-1 align-items-center">
                            <img src="https://via.placeholder.com/18x18" alt="">
                            <p class="ps-2 mb-0">HSR Layout</p>
                        </div>
                        <div class="d-flex pb-1 align-items-center">
                            <img src="https://via.placeholder.com/18x18" alt="">
                            <p class="ps-2 mb-0">male</p>
                        </div>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
        <div class="col-4 pe-5">
            <h2 class="pb-5">Aceepted</h2>
            <div class="pe-5">
                <mat-card>
                    <mat-card-header><p ><b>Candidate 1</b></p></mat-card-header>
                    <mat-card-content>
                        <div class="d-flex pb-1 align-items-center">
                            <img src="https://via.placeholder.com/18x18" alt="">
                            <p class="ps-2 mb-0">10 minutes ago</p>
                        </div>
                        <div class="d-flex pb-1 align-items-center">
                            <img src="https://via.placeholder.com/18x18" alt="">
                            <p class="ps-2 mb-0">HSR Layout</p>
                        </div>
                        <div class="d-flex pb-1 align-items-center">
                            <img src="https://via.placeholder.com/18x18" alt="">
                            <p class="ps-2 mb-0">male</p>
                        </div>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
        <div class="col-4 pe-5">
            <h2 class="pb-5">Rejected</h2>
            <div class="pe-5">
                <mat-card>
                    <mat-card-header><p class=""><b>Candidate 1</b></p></mat-card-header>
                    <mat-card-content>
                        <div class="d-flex pb-1 align-items-center">
                            <img src="https://via.placeholder.com/18x18" alt="">
                            <p class="ps-2 mb-0">10 minutes ago</p>
                        </div>
                        <div class="d-flex pb-1 align-items-center">
                            <img src="https://via.placeholder.com/18x18" alt="">
                            <p class="ps-2 mb-0">HSR Layout</p>
                        </div>
                        <div class="d-flex pb-1 align-items-center">
                            <img src="https://via.placeholder.com/18x18" alt="">
                            <p class="ps-2 mb-0">male</p>
                        </div>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </div>
</div>
